/* webpage padding and margin to 0 */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* background colour for body */
body {
    background-color: #d9dcd6;
}

/* padding, font, background colour, and text colour for header elements*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* h1 things set at inline-block and sets font size */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* text with seo class has different colour */
.header h1 .seo {
    color: #d9dcd6;
}

/* setting top padding and right margin, buttons float, font size and family */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* remove list style for unordered list */
.header nav ul {
    list-style-type: none;
}

/* list elements display inline with left margin */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* set colour, remove text decoration for <a> elements */
a {
    color: #ffffff;
    text-decoration: none;
}

/* set font size for <p> */
p {
    font-size: 16px;
}

/* sets height, width, and bottom margin and sets position and size*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* any image with float-left tag float left with set margin */
.float-left {
    float: left;
    margin-right: 25px;
}

/* any image with float-right tag float right with set margin */
.float-right {
    float: right;
    margin-left: 25px;
}

/* set width, display, and left margin for content class objects */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* condensed css targeting section in content class */
.content section{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* condensed css targeting img in content class */
.content img{
    max-height: 200px;
}

/* condensed css targeting h2 in content class */
.content h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/* adjusts aside section with benefits class. sets right margin, padding, width, height, float flow, float right, font, and background color. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* condensed css targeting article in benefits class */
.benefits article{
    margin-bottom: 32px;
    color: #ffffff;
}

/* condensed css targeting h3 in benefits class */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* condensed css targeting img in benefits class */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* set footer padding, float flow, font family, and text alignment*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* set font size for h2 in footer */
.footer h2 {
    font-size: 20px;
}
